body{
  background-color: #dfdddf;
}
a{
  text-decoration: none;
}
.congrt{
  position: relative;
  margin: 80px 0px 0px 17%;
  background-color: rgb(232, 244, 255);
  background-image: url('../img/background-image.png');
  height: 30em;
  width: 63%;
  border-radius: 20px;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
}
.cngt{
  position: absolute;
  height: 140px;
  top: -8%;
  left: -9%;
}

.congratulaion{
  margin: 0px 0px 0px 15%;
  padding-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  color: #9af1a8;
  text-shadow: 0 -1px #aad6a6, 0 -2px #9fcfae, 0 0 8px rgb(8, 37, 78);
}
.congrt-icon{
  height: 50%;
  margin: 1em 0px 0px 17em;
}

.acct{
  padding-left: 200px;
  font-family:serif;
  font-size: 16px;
  color: #2e515c;
}

.go-back{
  padding-left: 30px;
  padding-top: 20px;
  font-family:serif;
  font-size: 16px;
  color: #2e515c;
}

.dts{
  text-decoration: none;
  font-weight: bold;
  color: #064153;
  font-size: 18px;
}