body{
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 100px;
  padding-bottom: 300px;
}
/*ludo game*/


/*ludo game one*/
.ludo-game-one{
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}


/*the green box containing image and text*/

.game-one-green{
  background-color: green;
  height: 380px;
  width: 362px;
  border-width: 3px;
  border-style: solid;
  border-top-width: 6px;
  border-top-style: solid;
  border-left-width: 6px;
  border-left-style: solid;
}
.ronaldo{
  margin-top: 20px;
  margin-left: 10px;
  height: 330px;
  width: 330px;
  object-fit: cover;
  border-width: 5px;
  border-style: solid;
  border-radius: 5px;
  border-color: white;
  border-radius: 20px;
}
.green-container{
  position: relative;
}
.ronaldo-text{
  background-color: green;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
  border-width: 0px;
  width: 180px;
  padding-left: 5px;
  position: absolute;
  bottom: 15px;
  left: 15px;
  transform: translate(8px) rotate(180deg) translateY(273px);
}
.pg-logo{
  position: absolute;
  top: 35px;
  right: 25px;
  height: 85px;
  width: 85px;
  object-fit: cover;
  border-radius: 25px;
  border-width: 3px;
  border-style: solid;
  border-color: green;
  transform: rotate(180deg) translateX(222px);
  margin-top: 223px;
}
.arrow-one{
  position: absolute;
  top: 348px;
  left: 330px;
  height: 70px;
  width: 70px;
  object-fit: cover;
}
.slide-arrow-three{
  position: absolute;
  top: 420px;
  right: 240px;
  height: 120px;
  width: 120px;
  object-fit: cover;
}
.slide-arrow-threes{
  position: absolute;
  top: 355px;
  right: 110px;
  height: 120px;
  width: 120px;
  object-fit: cover;
}


/* the red side part */

.game-two-red-part{
  background-color:red;
  display: grid;
  grid-template-columns: 60px 60px 60px;
  height:380px;
  width: 183px;
  border-width: 3px;
  border-style: solid;
  border-top-width: 6px;
  border-top-style: solid;
}

.box-one{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
  margin-left: -1px;
  margin-top: -1px;
}
.box-two{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
  margin-left: -1px;
}
.box-three{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
  margin-left: -1px;
}
.cirle-nine{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  background-color: blue;
  margin-top: 4px;
  margin-left: 2px;
}


.box-four{
  background-color:white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
  margin-top: -1px;
}
.box-five{
  background-color: red;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.box-six{
  background-color: red;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.box-seven{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
  margin-top: -1px;
}
.cirle-eight{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  background-color: green;
  margin-top: 3px;
  margin-left: 3px;
}


.box-eight{
  background-color: red;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.box-nine{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.box-ten{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
  margin-left: -1px;
}
.box-eleven{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
  margin-left: -1px;
}
.box-twelve{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
  margin-left: -1px;
}
.box-thirteen{
  background-color: red;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.box-fourteen{
  background-color: red;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.box-fiveteen{
  background-color: red;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.box-sixteen{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.box-seventeen{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.box-eighteen{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}

/* the red box containing image and text*/

.game-three-red{
  background-color: red;
  height: 380px;
  width: 362px;
  border-width: 3px;
  border-style: solid;
  border-top-width: 6px;
  border-top-style: solid;
  border-right-width: 6px;
  border-right-style: solid;
}
.benzema{
  margin-top: 20px;
  margin-left: 10px;
  height: 330px;
  width: 330px;
  object-fit: cover;
  border-width: 5px;
  border-style: solid;
  border-radius: 5px;
  border-color: white;
  border-radius: 20px;
}
.red-container{
  position: relative;
}
.benzema-text{
  background-color: red;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
  border-width: 0px;
  width: 180px;
  padding-left: 5px;
  position: absolute;
  bottom: 15px;
  left: 15px;
  transform: rotate(-90deg) translateX(70px);
  margin-left: 206px;
}
.fr-logo-one{
  position: absolute;
  top: 35px;
  right: 25px;
  height: 85px;
  width: 85px;
  object-fit: cover;
  border-radius: 25px;
  border-width: 3px;
  border-style: solid;
  border-color: red;
  transform: rotate(-90deg) translateY(-223px);
  margin-top: 223px;
}
.arrow-two{
  position: absolute;
  top: 350px;
  right: 330px;
  height: 70px;
  width: 70px;
  object-fit: cover;
}
.slide-arrow-two{
  position: absolute;
  right: 395px;
  height: 120px;
  width: 120px;
  object-fit: cover;
}
.slide-arrow-twos{
  position: absolute;
  height: 120px;
  width: 120px;
  object-fit: cover;
  right: 335px;
  top: 144px;
}
.cirle-fiveteen{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  background-color: red;
  margin-top: 26px;
  margin-left: 4px;
  position: absolute;
}
.cirle-seven{
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  background-color: yellow;
  margin-top: -167px;
  margin-left: -64px;
}
.dice-one{
  height: 60px;
  width: 60px;
  object-fit: cover;
  position: absolute;
  right: 460px;
  top: 270px;
  transform: rotate(90deg);
}
.dice-two{
  height: 60px;
  width: 60px;
  object-fit: cover;
  position: absolute;
  right: 380px;
  top: 290px;
  transform: rotate(-90deg);
}



/*ludo game two*/

/* the green side part*/

.ludo-game-two{
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.game-four-green-part{
  background-color:green;
  display: grid;
  grid-template-columns: 60px 60px 60px 60px 60px 60px ;
  width: 362px;
  height: 190px;
  border-width: 3px;
  border-style: solid;
  border-left-width: 6px;
  border-left-style: solid;
}
.box-nineteen{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
  margin-top: -1px;
  margin-left: -1px;
}
.cirle-five{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  background-color: yellow;
  margin-top: 4px;
  margin-left: 3px;
}


.box-twenty{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
  margin-left: -1px;
}
.box-twenty-one{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
  margin-left: -1px;
}
.cirle-fourteen{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  background-color: red;
  margin-top: 4px;
  margin-left: 3px;
}

.box-twenty-two{
  background-color: green;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
  margin-top: -1px;
}
.box-twenty-three{
  background-color: green;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.box-twenty-four{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.box-twenty-five{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
  margin-top: -1px;
}
.box-twenty-six{
  background-color: green;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.box-twenty-seven{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.cirle-three{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  background-color: blue;
  margin-top: 4px;
  margin-left: 2px;
}


.box-twenty-eight{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
  margin-top: -1px;
}
.box-twenty-nine{
  background-color: green;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.box-thirty{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.box-thirty-one{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
  margin-top: -1px;
}
.cirle-six{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  background-color: green;
  margin-top: 4px;
  margin-left: 2px;
}


.box-thirty-two{
  background-color: green;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.box-thirty-three{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.box-thirty-four{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
  margin-top: -1px;
}
.box-thirty-five{
  background-color: green;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.box-thirty-six{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}


/* the middle part*/

.game-five-middle-part{
  background-color:white;
  height: 190px;
  width: 182px;
  border-width: 3px;
  border-style: solid;
  position: relative;
}
.middle{
  background-color: rgb(68, 104, 104);
  height: 170px;
  width: 170px;
  margin-left: 6px;
  margin-top: 10px;
  position: absolute;
}
.middle-one{
  background-color: rgb(207, 7, 7);
  height: 60px;
  width: 155px;
  position: absolute;
  margin-left: 11px;
  margin-top: 16px;
  border-radius: 50px;
  border-width: 3px;
  border-style:solid;
  border-color: white;
}
.middle-two{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-top: 18px;
  margin-left: 37px;
  color: white;
  position: absolute;
}
.middle-three{
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  position: absolute;
  margin-top: 53px;
  margin-left: 40px;
}
.middle-four{
  position: absolute;
  bottom: 86px;
  left: 45px;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
}
.middle-five{
position: absolute;
position: absolute;
  bottom: 68px;
  left: 47px;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
}
.middle-six{
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: yellow;
  border-radius: 15px;
  border-width: 1;
  border-style: solid;
  border-color: black;
  top: 110px;
  left: 10px;
}
.middle-seven{
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: blue;
  border-radius: 15px;
  border-width: 1;
  border-style: solid;
  border-color: black;
  top: 127px;
  left: 15px;
}
.middle-eight{
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: green;
  border-radius: 15px;
  border-width: 1;
  border-style: solid;
  border-color: black;
  top: 140px;
  left: 23px;
}
.middle-nine{
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: red;
  border-radius: 15px;
  border-width: 1;
  border-style: solid;
  border-color: black;
  top: 110px;
  left: 135px;
}
.middle-ten{
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: blue;
  border-radius: 15px;
  border-width: 1;
  border-style: solid;
  border-color: black;
  top: 127px;
  left: 130px;
}
.middle-eleven{
  position: absolute;
  height: 30px;
  width: 30px;
  background-color:yellow;
  border-radius: 15px;
  border-width: 1;
  border-style: solid;
  border-color: black;
  top: 140px;
  left: 120px;
  }
  .dice{
    position: absolute;
    height: 60px;
    width: 60px;
    object-fit: contain;
    left: 60px;
    bottom: 10px;
  }


/* the blue side part */

.game-six-blue-part{
  background-color:blue;
  display: grid;
  grid-template-columns: 60px 60px 60px 60px 60px 60px;
  width: 363px;
  height: 190px;
  border-width: 3px;
  border-style: solid;
  border-right-width: 6px;
  border-right-style: solid;
}
.box-thirty-seven{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
  margin-top: -1px;
  margin-left: -1px;
}
.box-thirty-eight{
  background-color: blue;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
  margin-left: -1px;
}
.box-thirty-nine{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
  margin-left: -1px;
}
.box-forty{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid; 
  margin-top: -1px;
}
.box-forty-one{
  background-color: blue;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.box-forty-two{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.cirle-ten{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  background-color: blue;
  margin-top: 4px;
  margin-left: 1px;
}


.box-forty-three{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid; 
  margin-top: -1px;
}
.box-forty-four{
  background-color: blue;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.box-forty-five{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.box-forty-six{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid; 
  margin-top: -1px;
}
.cirle-eleven{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  background-color: yellow;
  margin-top: 4px;
  margin-left: 2px;
}


.box-forty-seven{
  background-color: blue;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.box-forty-eight{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.box-forty-nine{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid; 
  margin-top: -1px;
}
.box-fifty{
  background-color: blue;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.box-fifty-one{
  background-color: blue;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.cirle-twelve{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  background-color: green;
  margin-top: 4px;
  margin-left: 1px;
}


.box-fifty-two{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid; 
  margin-top: -1px;
}
.box-fifty-three{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.box-fifty-four{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.cirle-thirteen{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  background-color: red;
  margin-top: 4px;
  margin-left: 4px;
}


/*ludo game*/
.ludo-game-three{
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

/*the yellow box containing image and text*/

.game-seven-yellow{
  background-color: yellow;
  height: 382px;
  width: 362px;
  border-width: 3px;
  border-style: solid;
  border-left-width: 6px;
  border-left-style: solid;
  border-bottom-width: 6px;
  border-bottom-style: solid;
}
.mbappe{
  margin-top: 20px;
  margin-left: 10px;
  height: 330px;
  width: 330px;
  object-fit: cover;
  border-width: 5px;
  border-style: solid;
  border-radius: 5px;
  border-color: white;
  border-radius: 20px;
}
.yellow-container{
  position: relative;
}
.mbappe-text{
  background-color:yellow ;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
  border-width: 0px;
  width: 165px;
  padding-left: 15px;
  position: absolute;
  bottom: 15px;
  left: 15px;
  transform: rotate(90deg) translateX(-65px);
  margin-left: -60px;
}
.fr-logo{
  position: absolute;
  top: 230px;
  right: 25px;
  height: 85px;
  width: 85px;
  object-fit: cover;
  border-radius: 25px;
  border-width: 3px;
  border-style: solid;
  border-color: yellow;
  transform: rotate(90deg) translateX(-200px);
}
.arrow-four{
  position: absolute;
  bottom: 335px;
  left: 330px;
  height: 70px;
  width: 70px;
  object-fit: cover;
}
.slide-arrow-one{
  position: absolute;
  height: 120px;
  width: 120px;
  left: 400px;
  top: 265px;
}
.slide-arrow-ones{
  position: absolute;
  height: 120px;
  width: 120px;
  top: 120px;
  left: 344px;

}

/*the yellow side part*/

.game-eight-yellow-part{
  background-color:yellow;
  display: grid;
  grid-template-columns: 60px 60px 60px;
  height:382px;
  width: 183px;
  border-width: 3px;
  border-style: solid;
  border-bottom-width: 6px;
  border-bottom-style: solid;
}

.box-fifty-five{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
  margin-left: -1px;
  margin-top: -1px;
}
.box-fifty-six{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
  margin-left: -1px;
}
.cirle-two{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  background-color: yellow;
  margin-top: 2px;
  margin-left: 3px;
}


.box-fifty-seven{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
  margin-left: -1px;
}
.box-fifty-eight{
  background-color: yellow;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
  margin-top: -1px;
}
.box-fifty-nine{
  background-color: yellow;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.box-sixty{
  background-color: yellow;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.box-sixty-one{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
  margin-top: -1px;
}
.box-sixty-two{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.box-sixty-three{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.box-sixty-four{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
  margin-left: -1px;
}
.box-sixty-five{
  background-color: yellow;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
  margin-left: -1px;
}
.box-sixty-six{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
  margin-left: -1px;
}
.cirle-four{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  background-color: blue;
  margin-top: 2px;
  margin-left: 4px;
}


.box-sixty-seven{
  background-color: yellow;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.box-sixty-eight{
  background-color: yellow;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.box-sixty-nine{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.box-seventy{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.cirle-one{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  background-color: red;
  margin-top: 3px;
  margin-left: 4px;
}


.box-seventy-one{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}
.box-seventy-two{
  background-color: white;
  height: 60px;
  width: 60px;
  border-width: 2px;
  border-style: solid;
}

/*the blue box containing image and text*/

.game-nine-blue{
  background-color: blue;
  height: 382px;
  width: 362px;
  border-width: 3px;
  border-style: solid;
  border-right-width: 6px;
  border-right-style: solid;
  border-bottom-width: 6px;
  border-bottom-style: solid;
}
.messi{
  margin-top: 20px;
  margin-left: 10px;
  height: 330px;
  width: 330px;
  object-fit: cover;
  border-width: 5px;
  border-style: solid;
  border-radius: 5px;
  border-color: white;
  border-radius: 20px;
}

.blue-container{
  position: relative;
}
.messi-text{
  background-color: blue;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
  border-width: 0px;
  width: 130px;
  padding-left: 20px;
  position: absolute;
  bottom: 15px;
  left: 25px;
}
.ag-logo{
  position: absolute;
  top: 40px;
  right: 40px;
  height: 85px;
  width: 85px;
  object-fit: cover;
  border-radius: 25px;
  border-width: 3px;
  border-style: solid;
  border-color: blue;
}
.arrow-three{
  position: absolute;
  right:330px;
  top: -40px;
  height: 70px;
  width: 70px;
  object-fit: cover;
}
.slide-arrow-four{
  position: absolute;
  top: -160px;
  left: 240px;
  height: 120px;
  width: 120px;
}
.slide-arrow-fours{
  position: absolute;
  top: -100px;
  left: 112px;
  height: 120px;
  width: 120px;
}
.cirle-sixteen{
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  background-color: green;
  margin-top: -296px;
  margin-left: -64px;
}