/* the main body*/
.the-main-body{
  display: grid;
  grid-template-columns: 100px 100px 100px; 
  column-gap: 280px;
  row-gap: 150px;
}

/* media query on screen size*/
@media (max-width:750px){
  .the-main-body{
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width:751px) and (max-width: 999px){
  .the-main-body{
    grid-template-columns: 1fr 1fr 1fr;
  }
}


/* Margues--- the cover image */
.margues-cover{
  height: 200px;
  width: 356px;
  position: relative;
}
.margues-video-time{
  position: absolute;
  background-color: black;
  font-family: roboto, arial;
  font-size: 12px;
  padding: 4px 4px 4px 4px;
  color: white;
  bottom: 10px;
  right: 5px;
}
.margues-cover-image{
  height: 200px;
}
/* the profile image and text*/
.margue-profile, .margue-profile-container{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 20px;
}

/* margue profile tooltip*/
.margue-profile-container{
  margin-left: 5px;
  margin-top: 5px;
  position: relative;
  cursor: pointer;
}
.margue-profile-container .margues-tooltip-container {
  position: absolute;
  top: 40px;
  left: -4px;
  width: 220px;
  height: 80px;
  border-radius: 40px;
  background-color:  rgb(248, 233, 233);
  color: black;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.30);
  opacity: 0;
  transition: opacity 0.30s;
  pointer-events: none;
}
.margue-profile-container:hover .margues-tooltip-container {
opacity: 1;
}
.margues-tooltip-img, .margues-tooltip-text{
  display: inline-block;
  margin-top: 20px;
  vertical-align: top;
}
.margues-tooltip-img{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-left: 10px;
}
.margues-tooltip-text{
  font-family: roboto, arial;
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
}
.margues-tooltip-followers{
  font-family: roboto, arial;
  font-size: 12px;
  margin-top: 5px;
}

.margue-text-one{
  font-family: roboto, arial;
  font-size: 16px;
  font-weight: bold;
  color: black;
  width: 290px;
  line-height: 23px;
  padding-left: 13px;
  padding-top: 5px;
}
.margue-text-two{
  font: 15px roboto, arial;
  padding-top: 10px;
  padding-left: 13px;
  color: rgb(90, 80, 80);
}
.margue-text-three{
  font: 15px roboto, arial;
  padding-top: 5px;
  padding-left: 13px;
  color: rgb(90, 80, 80);
}
/*inline the profile image and text*/

.img-text-margue{
  height: 115px;
  display: flex;
  flex-direction: row;
  margin-top: -4px;
  box-shadow: inset 10px 10px 80px rgba(0, 0, 0, 0.10);
  border: 1px solid rgb(211, 191, 191);
  border-top-width: 0px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}


/* Markiplier--- the cover image */
.markiplier-cover{
  height: 200px;
  width: 356px;
  position: relative;
}
.markiplier-video-time{
  position: absolute;
  background-color: black;
  font-family: roboto, arial;
  font-size: 12px;
  padding: 4px 4px 4px 4px;
  color: white;
  bottom: 10px;
  right: 5px;
}
.markiplier-cover-image{
  height: 200px;
}
/* the profile image and text*/
.markiplier-profile, .markiplier-profile-container{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 20px;
}

/* markiplier profile tooltip*/
.markiplier-profile-container{
  margin-left: 5px;
  margin-top: 5px;
  position: relative;
  cursor: pointer;
}
.markiplier-profile-container .markiplier-tooltip-container {
  position: absolute;
  top: 40px;
  left: -4px;
  width: 220px;
  height: 80px;
  border-radius: 40px;
  background-color:  rgb(248, 233, 233);
  color: black;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.30);
  opacity: 0;
  transition: opacity 0.30s;
  pointer-events: none;
}
.markiplier-profile-container:hover .markiplier-tooltip-container {
opacity: 1;
}
.markiplier-tooltip-img, .markiplier-tooltip-text{
  display: inline-block;
  margin-top: 20px;
  vertical-align: top;
}
.markiplier-tooltip-img{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-left: 10px;
}
.markiplier-tooltip-text{
  font-family: roboto, arial;
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
}
.markiplier-tooltip-followers{
  font-family: roboto, arial;
  font-size: 12px;
  margin-top: 5px;
}

.markiplier-text-one{
  font-family: roboto, arial;
  font-size: 16px;
  font-weight: bold;
  color: black;
  width: 250px;
  line-height: 23px;
  padding-left: 13px;
  padding-top: 5px;
}
.markiplier-text-two{
  font: 15px roboto, arial;
  padding-top: 20px;
  padding-left: 13px;
  color: rgb(90, 80, 80);
}
.markiplier-text-three{
  font: 15px roboto, arial;
  padding-top: 8px;
  padding-left: 13px;
  color: rgb(90, 80, 80);
}
/*inline the profile image and text*/

.img-text-markiplier{
  height: 115px;
  display: flex;
  margin-top: -4px;
  box-shadow: inset 10px 10px 80px rgba(0, 0, 0, 0.10);
  border: 1px solid rgb(211, 191, 191);
  border-top-width: 0px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 354px;
}


/* SSSniperWolf--- the cover image */
.sssniperwolf-cover{
  height: 200px;
  width: 356px;
  position: relative;
}
.sssniperwolf-video-time{
  position: absolute;
  background-color: black;
  font-family: roboto, arial;
  font-size: 12px;
  padding: 4px 4px 4px 4px;
  color: white;
  bottom: 10px;
  right: 5px;
}
.sssniperwolf-cover-image{
  height: 200px;
}
/* the profile image and text*/
.sssniperwolf-profile, .sssniperwolf-profile-container{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 20px;
}
/* sssniperwolf profile tooltip*/
.sssniperwolf-profile-container{
  margin-left: 5px;
  margin-top: 5px;
  position: relative;
  cursor: pointer;
}
.sssniperwolf-profile-container .sssniperwolf-tooltip-container {
  position: absolute;
  top: 40px;
  left: -4px;
  width: 220px;
  height: 80px;
  border-radius: 40px;
  background-color: rgb(248, 233, 233);
  color: black;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.30);
  opacity: 0;
  transition: opacity 0.30s;
  pointer-events: none;
}
.sssniperwolf-profile-container:hover .sssniperwolf-tooltip-container {
opacity: 1;
}
.sssniperwolf-tooltip-img, .sssniperwolf-tooltip-text{
  display: inline-block;
  margin-top: 20px;
  vertical-align: top;
}
.sssniperwolf-tooltip-img{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-left: 10px;
}
.sssniperwolf-tooltip-text{
  font-family: roboto, arial;
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
}
.sssniperwolf-tooltip-followers{
  font-family: roboto, arial;
  font-size: 12px;
  margin-top: 5px;
}

.sssniperwolf-text-one{
  font-family: roboto, arial;
  font-size: 16px;
  font-weight: bold;
  color: black;
  width: 290px;
  line-height: 23px;
  padding-left: 13px;
  padding-top: 5px;
}
.sssniperwolf-text-two{
  font: 15px roboto, arial;
  padding-top: 10px;
  padding-left: 13px;
  color: rgb(90, 80, 80);
}
.sssniperwolf-text-three{
  font: 15px roboto, arial;
  padding-top: 5px;
  padding-left: 13px;
  color: rgb(90, 80, 80);
}
/*inline the profile image and text*/

.img-text-sssniperwolf{
  height: 115px;
  display: flex;
  flex-direction: row;
  margin-top: -4px;
  box-shadow: inset 10px 10px 80px rgba(0, 0, 0, 0.10);
  border: 1px solid rgb(211, 191, 191);
  border-top-width: 0px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}


/* Veritasium--- the cover image */
.veritasium-cover{
  height: 200px;
  width: 356px;
  position: relative;
}
.veritasium-video-time{
  position: absolute;
  background-color: black;
  font-family: roboto, arial;
  font-size: 12px;
  padding: 4px 4px 4px 4px;
  color: white;
  bottom: 10px;
  right: 5px;
}
.veritasium-cover-image{
  height: 200px;
}
/* the profile image and text*/
.veritasium-profile, .veritasium-profile-container{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 20px;
}
/* veritasium profile tooltip*/
.veritasium-profile-container{
  margin-left: 5px;
  margin-top: 5px;
  position: relative;
  cursor: pointer;
}
.veritasium-profile-container .veritasium-tooltip-container {
  position: absolute;
  top: 40px;
  left: -4px;
  width: 220px;
  height: 80px;
  border-radius: 40px;
  background-color: rgb(248, 233, 233);
  color: black;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.30);
  opacity: 0;
  transition: opacity 0.30s;
  pointer-events: none;
}
.veritasium-profile-container:hover .veritasium-tooltip-container {
opacity: 1;
}
.veritasium-tooltip-img, .veritasium-tooltip-text{
  display: inline-block;
  margin-top: 20px;
  vertical-align: top;
}
.veritasium-tooltip-img{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-left: 10px;
}
.veritasium-tooltip-text{
  font-family: roboto, arial;
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
}
.veritasium-tooltip-followers{
  font-family: roboto, arial;
  font-size: 12px;
  margin-top: 5px;
}

.veritasium-text-one{
  font-family: roboto, arial;
  font-size: 16px;
  font-weight: bold;
  color: black;
  width: 290px;
  line-height: 23px;
  padding-left: 13px;
  padding-top: 5px;
}
.veritasium-text-two{
  font: 15px roboto, arial;
  padding-top: 10px;
  padding-left: 13px;
  color: rgb(90, 80, 80);
}
.veritasium-text-three{
  font: 15px roboto, arial;
  padding-top: 5px;
  padding-left: 13px;
  color: rgb(90, 80, 80);
}
/*inline the profile image and text*/

.img-text-veritasium{
  height: 115px;
  display: flex;
  flex-direction: row;
  margin-top: -4px;
  box-shadow: inset 10px 10px 80px rgba(0, 0, 0, 0.10);
  border: 1px solid rgb(211, 191, 191);
  border-top-width: 0px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}


/* CS Dojo--- the cover image */
.cs-dojo-cover{
  height: 200px;
  width: 356px;
  position: relative;
}
.cs-dojo-video-time{
  position: absolute;
  background-color: black;
  font-family: roboto, arial;
  font-size: 12px;
  padding: 4px 4px 4px 4px;
  color: white;
  bottom: 10px;
  right: 5px;
}
.cs-dojo-cover-image{
  height: 200px;
}
/* the profile image and text*/
.cs-dojo-profile, .cs-dojo-profile-container{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 20px;
}
/* CS Dojo profile tooltip*/
.cs-dojo-profile-container{
  margin-left: 5px;
  margin-top: 5px;
  position: relative;
  cursor: pointer;
}
.cs-dojo-profile-container .cs-dojo-tooltip-container {
  position: absolute;
  top: 40px;
  left: -4px;
  width: 220px;
  height: 80px;
  border-radius: 40px;
  background-color: rgb(248, 233, 233);
  color: black;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.30);
  opacity: 0;
  transition: opacity 0.30s;
  pointer-events: none;
}
.cs-dojo-profile-container:hover .cs-dojo-tooltip-container {
opacity: 1;
}
.cs-dojo-tooltip-img, .cs-dojo-tooltip-text{
  display: inline-block;
  margin-top: 20px;
  vertical-align: top;
}
.cs-dojo-tooltip-img{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-left: 10px;
}
.cs-dojo-tooltip-text{
  font-family: roboto, arial;
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
}
.cs-dojo-tooltip-followers{
  font-family: roboto, arial;
  font-size: 12px;
  margin-top: 5px;
}

.cs-dojo-text-one{
  font-family: roboto, arial;
  font-size: 16px;
  font-weight: bold;
  color: black;
  width: 290px;
  line-height: 23px;
  padding-left: 13px;
  padding-top: 5px;
}
.cs-dojo-text-two{
  font: 15px roboto, arial;
  padding-top: 10px;
  padding-left: 13px;
  color: rgb(90, 80, 80);
}
.cs-dojo-text-three{
  font: 15px roboto, arial;
  padding-top: 5px;
  padding-left: 13px;
  color: rgb(90, 80, 80);
}
/*inline the profile image and text*/

.img-text-cs-dojo{
  width: 355px;
  height: 115px;
  display: flex;
  flex-direction: row;
  margin-top: -4px;
  box-shadow: inset 10px 10px 80px rgba(0, 0, 0, 0.10);
  border: 1px solid rgb(211, 191, 191);
  border-top-width: 0px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}


/* MrBeast--- the cover image */
.mrbeast-cover{
  height: 200px;
  width: 356px;
  position: relative;
}
.mrbeast-video-time{
  position: absolute;
  background-color: black;
  font-family: roboto, arial;
  font-size: 12px;
  padding: 4px 4px 4px 4px;
  color: white;
  bottom: 10px;
  right: 5px;
}
.mrbeast-cover-image{
  height: 200px;
}
/* the profile image and text*/
.mrbeast-profile, .mrbeast-profile-container{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 20px;
}
/* MrBeast profile tooltip*/
.mrbeast-profile-container{
  margin-left: 5px;
  margin-top: 5px;
  position: relative;
  cursor: pointer;
}
.mrbeast-profile-container .mrbeast-tooltip-container {
  position: absolute;
  top: 40px;
  left: -4px;
  width: 220px;
  height: 80px;
  border-radius: 40px;
  background-color: rgb(248, 233, 233);
  color: black;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.30);
  opacity: 0;
  transition: opacity 0.30s;
  pointer-events: none;
}
.mrbeast-profile-container:hover .mrbeast-tooltip-container {
opacity: 1;
}
.mrbeast-tooltip-img, .mrbeast-tooltip-text{
  display: inline-block;
  margin-top: 20px;
  vertical-align: top;
}
.mrbeast-tooltip-img{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-left: 10px;
}
.mrbeast-tooltip-text{
  font-family: roboto, arial;
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
}
.mrbeast-tooltip-followers{
  font-family: roboto, arial;
  font-size: 12px;
  margin-top: 5px;
}

.mrbeast-text-one{
  font-family: roboto, arial;
  font-size: 16px;
  font-weight: bold;
  color: black;
  width: 290px;
  line-height: 23px;
  padding-left: 13px;
  padding-top: 5px;
}
.mrbeast-text-two{
  font: 15px roboto, arial;
  padding-top: 10px;
  padding-left: 13px;
  color: rgb(90, 80, 80);
}
.mrbeast-text-three{
  font: 15px roboto, arial;
  padding-top: 5px;
  padding-left: 13px;
  color: rgb(90, 80, 80);
}
/*inline the profile image and text*/

.img-text-mrbeast{
  width: 354px;
  height: 115px;
  display: flex;
  flex-direction: row;
  margin-top: -4px;
  box-shadow: inset 10px 10px 80px rgba(0, 0, 0, 0.10);
  border: 1px solid rgb(211, 191, 191);
  border-top-width: 0px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}


/* RealLifeLore--- the cover image */
.reallifelore-cover{
  height: 200px;
  width: 356px;
  position: relative;
}
.reallifelore-video-time{
  position: absolute;
  background-color: black;
  font-family: roboto, arial;
  font-size: 12px;
  padding: 4px 4px 4px 4px;
  color: white;
  bottom: 10px;
  right: 5px;
}
.reallifelore-cover-image{
  height: 200px;
}
/* the profile image and text*/
.reallifelore-profile, .reallifelore-profile-container{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 20px;
}
/* RealLifeLore profile tooltip*/
.reallifelore-profile-container{
  margin-left: 5px;
  margin-top: 5px;
  position: relative;
  cursor: pointer;
}
.reallifelore-profile-container .reallifelore-tooltip-container {
  position: absolute;
  top: 40px;
  left: -4px;
  width: 220px;
  height: 80px;
  border-radius: 40px;
  background-color: rgb(248, 233, 233);
  color: black;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.30);
  opacity: 0;
  transition: opacity 0.30s;
  pointer-events: none;
}
.reallifelore-profile-container:hover .reallifelore-tooltip-container {
opacity: 1;
}
.reallifelore-tooltip-img, .reallifelore-tooltip-text{
  display: inline-block;
  margin-top: 20px;
  vertical-align: top;
}
.reallifelore-tooltip-img{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-left: 10px;
}
.reallifelore-tooltip-text{
  font-family: roboto, arial;
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
}
.reallifelore-tooltip-followers{
  font-family: roboto, arial;
  font-size: 12px;
  margin-top: 5px;
}


.reallifelore-text-one{
  font-family: roboto, arial;
  font-size: 16px;
  font-weight: bold;
  color: black;
  width: 290px;
  line-height: 23px;
  padding-left: 13px;
  padding-top: 5px;
}
.reallifelore-text-two{
  font: 15px roboto, arial;
  padding-top: 10px;
  padding-left: 13px;
  color: rgb(90, 80, 80);
}
.reallifelore-text-three{
  font: 15px roboto, arial;
  padding-top: 15px;
  padding-left: 13px;
  color: rgb(90, 80, 80);
}
/*inline the profile image and text*/

.img-text-reallifelore{
  width: 354px;
  height: 115px;
  display: flex;
  flex-direction: row;
  margin-top: -4px;
  box-shadow: inset 10px 10px 80px rgba(0, 0, 0, 0.10);
  border: 1px solid rgb(211, 191, 191);
  border-top-width: 0px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}


/* Tech Vision--- the cover image */
.tech-vision-cover{
  height: 200px;
  width: 356px;
  position: relative;
}
.tech-vision-video-time{
  position: absolute;
  background-color: black;
  font-family: roboto, arial;
  font-size: 12px;
  padding: 4px 4px 4px 4px;
  color: white;
  bottom: 10px;
  right: 5px;
}
.tech-vision-cover-image{
  height: 200px;
}
/* the profile image and text*/
.tech-vision-profile, .tech-vision-profile-container{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 20px;
}
/* Tech Vision profile tooltip*/
.tech-vision-profile-container{
  margin-left: 5px;
  margin-top: 5px;
  position: relative;
  cursor: pointer;
}
.tech-vision-profile-container .tech-vision-tooltip-container {
  position: absolute;
  top: 40px;
  left: -4px;
  width: 220px;
  height: 80px;
  border-radius: 40px;
  background-color: rgb(248, 233, 233);
  color: black;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.30);
  opacity: 0;
  transition: opacity 0.30s;
  pointer-events: none;
}
.tech-vision-profile-container:hover .tech-vision-tooltip-container {
opacity: 1;
}
.tech-vision-tooltip-img, .tech-vision-tooltip-text{
  display: inline-block;
  margin-top: 20px;
  vertical-align: top;
}
.tech-vision-tooltip-img{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-left: 10px;
}
.tech-vision-tooltip-text{
  font-family: roboto, arial;
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
}
.tech-vision-tooltip-followers{
  font-family: roboto, arial;
  font-size: 12px;
  margin-top: 5px;
}

.tech-vision-text-one{
  font-family: roboto, arial;
  font-size: 16px;
  font-weight: bold;
  color: black;
  width: 290px;
  line-height: 23px;
  padding-left: 13px;
  padding-top: 5px;
}
.tech-vision-text-two{
  font: 15px roboto, arial;
  padding-top: 10px;
  padding-left: 13px;
  color: rgb(90, 80, 80);
}
.tech-vision-text-three{
  font: 15px roboto, arial;
  padding-top: 15px;
  padding-left: 13px;
  color: rgb(90, 80, 80);
}
/*inline the profile image and text*/

.img-text-tech-vision{
  width: 354px;
  height: 115px;
  display: flex;
  flex-direction: row;
  margin-top: -4px;
  box-shadow: inset 10px 10px 80px rgba(0, 0, 0, 0.10);
  border: 1px solid rgb(211, 191, 191);
  border-top-width: 0px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}


/* ThenX--- the cover image */
.thenx-cover{
  height: 200px;
  width: 356px;
  position: relative;
}
.thenx-video-time{
  position: absolute;
  background-color: black;
  font-family: roboto, arial;
  font-size: 12px;
  padding: 4px 4px 4px 4px;
  color: white;
  bottom: 10px;
  right: 5px;
}
.thenx-cover-image{
  height: 200px;
}
/* the profile image and text*/
.thenx-profile, .thenx-profile-container{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 20px;
}
/* ThenX profile tooltip*/
.thenx-profile-container{
  margin-left: 5px;
  margin-top: 5px;
  position: relative;
  cursor: pointer;
}
.thenx-profile-container .thenx-tooltip-container {
  position: absolute;
  top: 40px;
  left: -4px;
  width: 220px;
  height: 80px;
  border-radius: 40px;
  background-color: rgb(248, 233, 233);
  color: black;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.30);
  opacity: 0;
  transition: opacity 0.30s;
  pointer-events: none;
}
.thenx-profile-container:hover .thenx-tooltip-container {
opacity: 1;
}
.thenx-tooltip-img, .thenx-tooltip-text{
  display: inline-block;
  margin-top: 20px;
  vertical-align: top;
}
.thenx-tooltip-img{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-left: 10px;
}
.thenx-tooltip-text{
  font-family: roboto, arial;
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
}
.thenx-tooltip-followers{
  font-family: roboto, arial;
  font-size: 12px;
  margin-top: 5px;
}

.thenx-text-one{
  font-family: roboto, arial;
  font-size: 16px;
  font-weight: bold;
  color: black;
  width: 290px;
  line-height: 23px;
  padding-left: 13px;
  padding-top: 5px;
}
.thenx-text-two{
  font: 15px roboto, arial;
  padding-top: 10px;
  padding-left: 13px;
  color: rgb(90, 80, 80);
}
.thenx-text-three{
  font: 15px roboto, arial;
  padding-top: 15px;
  padding-left: 13px;
  color: rgb(90, 80, 80);
}
/*inline the profile image and text*/

.img-text-thenx{
  width: 354px;
  height: 115px;
  display: flex;
  flex-direction: row;
  margin-top: -4px;
  box-shadow: inset 10px 10px 80px rgba(0, 0, 0, 0.10);
  border: 1px solid rgb(211, 191, 191);
  border-top-width: 0px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}