.my-body-car{
  position: relative;
  margin: 0px 0px 0px 440px;
}
.body{
  position: relative;
  height: 130px;
  width: 360px;
  background-color: #e2e6e9;
  box-shadow: inset 0px 80px 80px rgba(192, 201, 208, 0.8);
}
.name{
  position: absolute;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 60px;
  left: 75px;
  top: 40px;
  letter-spacing: 15px;
 /*text-shadow:  1px 3px 4px rgba(39, 36, 33, 0.8);*/
 color: #dfdddf;
  text-shadow: 0 -1px #767676, 0 -2px #262626, 0 0 8px rgb(45, 50, 58);
}

.open-door{
  position: absolute;
  height: 10px;
  width: 35px;
  background-color: black;
  left: 50px;
  top: 20px;
  border-radius: 4px;
}
.open-door-one{
  position: absolute;
  height: 10px;
  width: 35px;
  background-color: black;
  left: 210px;
  top: 20px;
  border-radius: 4px;
}

.body-inner-bg{
  position: absolute;
  height: 30px;
  width: 400px;
  background-color: #edf1f2;
  box-shadow: 0px 8px 4px 0px rgba(207, 219, 223, 0.8);
  top: -3px;
 left: -40px; 
}
.body-inner-bgg{
  position: absolute;
  height: 30px;
  width: 15px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color:black;
  top: -2px;
 left: 217px; 
}

.side-mirror{
  position: absolute;
  height: 12px;
  width: 40px;
  background-color: black;
  top: -06px;
  left: 320px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.side-mirror-one{
  position: absolute;
  height: 12px;
  width: 40px;
  background-color: black;
  top: -15px;
  left: 320px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}


.body-inner-line{
  position: absolute;
  height: 39px;
  width: 5px;
  border-width:0px 0px 0px 2px;
 border-style: solid;
 border-color: black;
 top: -7px;
 left: 188px;
 z-index: 2;
 transform: rotate(-22deg);
}

.body-inner-line-one{
  position: absolute;
  height: 39px;
  width: 5px;
  border-width:0px 0px 0px 2px;
 border-style: solid;
 border-color: black;
 top: -7px;
 left: 345px;
 z-index: 2;
 transform: rotate(-20deg);
}

.body-inner-line-two{
  position: absolute;
  height: 39px;
  width: 5px;
  border-width:0px 0px 0px 2px;
 border-style: solid;
 border-color: black;
 top: -7px;
 left: 30px;
 z-index: 2;
 transform: rotate(-20deg);
}

.body-inner{
  position: absolute;
  height: 100px;
  width: 155px;
 border-width: 0px 2px ;
 border-style: solid;
 border-color: black;
  left: 195px;
  top: 30px;
  z-index: 1;
}
/*
.body-inner-two{
  position: absolute;
  height: 120px;
  width: 10px;
  border-width: 0px 0px 0px 2px;
  border-color: black;
  border-style: solid;
  left: 50px;
  top: 10px;
}