
.my-head-car{
  position: relative;
 margin: 260px 0px 0px 600px;
}

.head-light-blue, .head-light-red{
  margin-left: -10px;
}
.head-light-red{
  position: absolute;
  height: 20px;
  width: 50px;
  background-color: #0a90cd;
  border-radius: 10px;
  top: -25px;
  left: -30px;
  z-index: -2;
}

.head-light-blue{
  position: absolute;
  height: 20px;
  width: 50px;
  background-color: #f94b30;
  border-radius: 10px;
  top: -25px;
  z-index: -2;
}

.head-light{
  position: absolute;
  height: 30px;
  width: 150px;
  border-radius: 10px;
  background-color: #343f45;
  top: -12px;
  left: -80px;
  z-index: -1;
}

.head-head{
  position: absolute;
  height: 130px;
  width: 180px;
  background-color:#e3e7ea;
  border-top-right-radius: 100% 130px;
  top: -130px;
  left: 20px;
  box-shadow: inset 0px 10px 3px rgba(189, 195, 199, 0.8);
}

.inner-mirror{
  position: absolute;
  height: 110px;
  width: 150px;
  background-color: #254f7f;
  border-top-right-radius: 100% 110px;
  top: 15px;
  left: 10px;
  box-shadow: inset 0px 10px 5px 0px rgba(32, 60, 84, 0.9); 
  border-width: 3px 3px 0px 3px;
  border-style: solid;
  border-color:black;
}

.head-two{
  position: absolute;
  height: 130px;
   width: 180px;
   background-color: #e3e7ea;
   margin-left: -160px;
   margin-top: -130px;
   border-top-left-radius: 100% 150px;
   box-shadow: inset 0px 10px 3px rgba(189, 195, 199, 0.8);
 }

.inner-mirror-two{
  position: absolute;
  height: 110px;
  width: 150px;
  background-color: #254f7f;;
  left: 23px;
  top: 15px;
  border-top-left-radius: 100% 150px;
  box-shadow: inset 50px 0px 5px 0px rgba(32, 60, 84, 0.9); 
  border-width: 3px 3px 0px 3px;
  border-style: solid;
  border-color:black;
  
}

