/* section one */
a{
  text-decoration: none;
  cursor: pointer;
}
.body-one{
  background-color: #162552;
  height: 565px;
  margin: 0px;
}

.name{
  color: #64ffda;
  margin: 20px 0px 0px 100px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}

.sname{
  color: #ccd6f6;
  font-family: serif;
  margin: 5px 0px 0px 100px;
  font-size: 80px;
  
}
.fname{
  color: #8892b0;
  font-family: serif;
  margin: 20px 0px 0px 100px;
  font-size: 90px;
  width: 10px;
  line-height: 75px;
}
.title
{
  color: #8892b0;
  font-family: serif;
  margin: 0px 0px 0px 100px;
  padding-top: 20px;
  width: 440px;
  font-size: 18px;
  line-height: 25px;
}
.side-bar-left, .text, .side-bar-right{
  display: inline-block;
  vertical-align: top;
}
.side-bar-left{
  position: fixed;
  background-color: #a9aaad;
  top: 45%;
  left: 30px;
  height: 250px;
  width: 40px;
}
.github{
  position: absolute;
  height: 30px;
  left: 6px;
  top: 20px;
  cursor: pointer;
}
.twitter{
  position: absolute;
  height: 30px;
  left: 6px;
  top: 75px;
  cursor: pointer;
}
.codepen{
  position: absolute;
  height: 30px;
  left: 6px;
  top: 130px;
  cursor: pointer;
}
.instagram{
  position: absolute;
  height: 30px;
  left: 6px;
  top: 190px;
  cursor: pointer;
}
.side-bar-right{
  position: fixed;
  top: 380px;
  right: -50px;
  color: #a6bafa;
  transform: rotate(90deg);
  font-size: 18px;
  font-family:'Courier New', Courier, monospace;
}

.project{
  height: 50px;
  width: 200px;
  margin: 20px 0px 0px 100px;
  background-color: #2f3f6e;
  color: #64ffda;
  border: 2px solid #64ffda;
  font-size: 30px;
  font-family:  'Courier New', Courier, monospace;
  border-radius: 10px;
  padding: 15px 0px 50px 0px;
  box-shadow: inset 5px 5px 4px 0px rgba(29, 236, 202, 0.5);
  cursor: pointer;
}
.project:hover{
  background-color: #101a1a;
  height: 70px;
  width: 210px;
  margin-top: 25px;
}
.project:active{
  background-color: rgb(38, 110, 110);
  color: #ffffff;
}


/* About me section */

.body-two{
  background-color: #202e58;
  height: 850px;
  margin: 0px;
}

.about-me-left, .about-me-right{
  display: inline-block;
  vertical-align: middle;
}
.about-me-tag, hr{
  display: inline-block;
  vertical-align: middle;
  
}
hr{
  width: 200px;
   margin-left: 30px;
   margin-top: 60px;
  border: 01px solid #4f5464;
}
.about-me-tag{
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  margin: 50px 0px 0px 150px;
  color: #ccd6f6;
}

.abt{
  font-family: serif;
  font-size: 18px;
  color: #8892b0;
  margin: 15px 0px 0px 150px;
  width: 520px; 
}
.abt-one{
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  margin: 50px 0px 0px 150px;
  color: #ccd6f6;
}
.abt-two{
  font-family: serif;
  font-size: 18px;
  color: #8892b0;
  margin: 15px 0px 0px 150px;
  width: 500px; 
}
.abt-three{
  font-family: serif;
  font-size: 18px;
  color: #8892b0;
  margin: 15px 0px 0px 150px;
  width: 520px; 
}

.my-skill{
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  margin: 100px 0px 0px 150px;
  color: #ccd6f6;
}
.skills{
  margin: 10px 0px 0px 150px;
}
button{
  height: 40px;
  width: 90px;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: #abbffa;
  border: 0px;
  margin-right: 10px;
}
.read, .play{
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
}
.html, .css{
  display: inline-block;
}
.work{
  font-family: serif;
  font-size: 18px;
  color: #8892b0;
}
.bg-img{
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 150px;
  border: 2px solid #64ffda ;
  margin-top: 165px;
  margin-left: 35px;
  box-shadow:inset 80px 90px 14px rgba(128, 191, 228, 0.5);
}
.ahmed, .ahmed-bg{
  position: absolute;
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 150px;
  top: 808px;
  left: 725px;
}
.ahmed-bg:hover{
  background-color: #64ffda;
  opacity: 0.2;
  cursor: pointer;
} 

.left-side, .right-side{
  display: inline-block;
  vertical-align: top;
}

.contact{
  font-family: serif;
  font-size: 18px;
  color: #8892b0;
  margin: 100px 0px 0px 100px;
  width: 400px;
}
.cont-button{
  height: 50px;
  width: 200px;
  margin: 20px 0px 0px 100px;
  background-color: #2f3f6e;
  color: #64ffda;
  border: 2px solid #64ffda;
  font-size: 30px;
  font-family:  'Courier New', Courier, monospace;
  border-radius: 10px;
  padding: 15px 0px 50px 0px;
  box-shadow: inset 5px 5px 4px 0px rgba(29, 236, 202, 0.5);
  cursor: pointer;
}
.cont-button:hover{
  background-color: #101a1a;
  height: 70px;
  width: 210px;
  margin-top: 25px;
}
.cont-button:active{
  background-color: rgb(18, 54, 54);
  color: #ffffff;
}

/* Project Section */
.body-three{
  background-color: #333d5e;
  height: 1550px;
  margin: 0px;
}

/* first project */

.pro-left, .pro-right{
  display: inline-block;
  vertical-align: middle;
}
.pro-items,.pro-line{
  display: inline-block;
  vertical-align: middle;
}
.pro-line{
  width: 200px;
   margin-left: 30px;
   margin-top: 60px;
  border: 01px solid #77809b;
}
.pro-items{
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  margin: 50px 0px 0px 150px;
  color: #ccd6f6;
}

.youtube{
  position: relative;
  height: 250px;
  margin: 60px 0px 0px 150px;
  object-fit: cover;
  border-radius: 20px;
}
.bg-youtube{
  position: absolute;
  border-radius: 20px;
  background-color: #272b2a;
  opacity: 0.5; 
  height:252px ;
  width: 505px;
  left: 158px;
  top: 1624px;
  cursor: pointer;
}
.bg-youtube:hover{
  background-color: #64ffda;
  opacity: 0.2;
}
.bg-youtube:active{
  background-color: #b8f5e7;
  opacity: 0.2;
}
.youtube-txt-two{
  position: absolute;
  height: 100px;
  width: 500px;
  background-color: #4e5d8a;
  left: 650px;
  top: 1744px;
  bottom: -1090px;
  box-shadow: 3px 10px 5px rgba(5, 27, 37, 0.719);
}
.youtube-txt-three{
  padding: 10px 0px 0px 25px;
  width: 400px;
  font-family: 'Courier New', Courier, monospace;
  color: #bfc9e7;
}

.youtube-txt{
  color: #64ffda;
  font-family: 'Courier New', Courier, monospace;
  padding-left: 290px;
  margin-bottom: 0px;
  margin-top: 40px;
}
.youtube-txt-one{
  color: #ccd6f6;
  padding-left: 230px;
  font-family: serif;
  margin-top: 10px;
}

/* second project */

.ludo-pro-left, .ludo-pro-right{
  display: inline-block;
}

.ludo-game-txt{
  color: #64ffda;
  font-family: 'Courier New', Courier, monospace;
  margin: 130px 0px 0px 150px;
}
.ludo-game-txt-one{
  color: #ccd6f6;
  font-family: serif;
  margin: 10px 0px 0px 170px;
}
.ludo-img-one{
  position: relative;
  height: 250px;
  width: 500px;
  margin: -90px 0px 0px 640px;
  object-fit: cover;
  border-radius: 20px;
}

.bg-ludo-game{
  position: absolute;
  border-radius: 20px;
  background-color: #272b2a;
  opacity: 0.5; 
  height:252px ;
  width: 500px;
  left: 648px;
  top: 1972px;
  cursor: pointer;
}

.bg-ludo-game:hover{
  background-color: #64ffda;
  opacity: 0.2;
}
.bg-ludo-game:active{
  background-color: #b8f5e7;
  opacity: 0.2;
}

.ludo-game-txt-two{
  position: absolute;
  height: 100px;
  width: 500px;
  background-color: #4e5d8a;
  left: 160px;
  top: 2090px;
  box-shadow: 5px 4px 5px rgba(5, 27, 37, 0.719);
}
.ludo-game-txt-three{
  padding: 10px 0px 0px 25px;
  width: 400px;
  font-family: 'Courier New', Courier, monospace;
  color: #bfc9e7;
}

/* third Section */
.car-pro-left, .car-pro-right{
  display: inline-block;
  vertical-align: middle;
  margin-top: 50px;
}
.car-img-one{
  position: relative;
  height: 252px;
  width: 505px;
  margin: 50px 0px 0px 150px;
  object-fit: cover;
  border-radius: 20px;
}
.bg-car{
  position: absolute;
  border-radius: 20px;
  background-color: #272b2a;
  opacity: 0.5; 
  height:252px ;
  width: 505px;
  left: 158px;
  top: 2327px;
  cursor: pointer;
}
.bg-car:hover{
  background-color: #64ffda;
  opacity: 0.2;
}
.bg-car:active{
  background-color: #b8f5e7;
  opacity: 0.2;
}

.car-txt-two{
  position: absolute;
  height: 100px;
  width: 500px;
  background-color: #4e5d8a;
  left: 650px;
  bottom: -1890px;
  box-shadow: 3px 10px 5px rgba(5, 27, 37, 0.719);
}
.car-txt-three{
  padding: 10px 0px 0px 25px;
  width: 400px;
  font-family: 'Courier New', Courier, monospace;
  color: #bfc9e7;
}

.car-txt{
  color: #64ffda;
  font-family: 'Courier New', Courier, monospace;
  padding-left: 320px;
  margin-top: -50px;
}
.car-txt-one{
  color: #ccd6f6;
  padding-left: 280px;
  font-family: serif;
  margin-top: 10px;
}

/* Fourth section */

.bio-pro-left, .bio-pro-right{
  display: inline-block;
}

.bio-txt{
  color: #64ffda;
  font-family: 'Courier New', Courier, monospace;
  margin: 120px 0px 0px 150px;
}
.bio-txt-one{
  color: #ccd6f6;
  font-family: serif;
  margin: 10px 0px 0px 170px;
}
.bio-img-one{
  position: relative;
  height: 250px;
  width: 500px;
  margin: -90px 0px 0px 640px;
  object-fit: cover;
  border-radius: 20px;
}

.bg-bio{
  position: absolute;
  border-radius: 20px;
  background-color: #272b2a;
  opacity: 0.5; 
  height:252px ;
  width: 500px;
  left: 648px;
  top: 2668px;
  cursor: pointer;
}

.bg-bio:hover{
  background-color: #64ffda;
  opacity: 0.2;
}
.bg-bio:active{
  background-color: #b8f5e7;
  opacity: 0.2;
}

.bio-txt-two{
  position: absolute;
  height: 100px;
  width: 500px;
  background-color: #4e5d8a;
  left: 160px;
  top: 2790px;
  box-shadow: 5px 4px 5px rgba(5, 27, 37, 0.719);
}
.bio-game-txt-three{
  padding: 10px 0px 0px 25px;
  width: 400px;
  font-family: 'Courier New', Courier, monospace;
  color: #bfc9e7;
}
.zuri{
  color: #adfc79;
  text-decoration: none;
  font-weight: bold;
}
.zuri:hover{
  color: antiquewhite;
}
.zuri:active{
  color: #eaecf1;
}

/* contact section */

.body-four{
  background-color: #141824 #162552;
  height: 700px;
  margin: 0px;
}

.what-next{
  margin: 0px 0px 0px 590px;
  color: #64ffda;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.4em;
  padding-top: 170px;
}

.get-in{
  margin: 10px 0px 0px 35%;
  font-size: 5em;
  color: #ccd6f6;
}

.feel-free{
  color: #bdc6df;
  font-family:serif;
  font-size: 20px;
  margin: 10px 0px 0px 25%;
  width: 780px;
  text-indent: 20px;
  line-height: 30px;
}


.contact-me{
  height: 50px;
  width: 200px;
  margin: 5% 0px 0px 45%;
  background-color: #2f3f6e;
  color: #64ffda;
  border: 2px solid #64ffda;
  font-size: 30px;
  font-family:  'Courier New', Courier, monospace;
  border-radius: 10px;
  padding: 15px 0px 50px 0px;
  box-shadow: inset 5px 5px 4px 0px rgba(29, 236, 202, 0.5);
  cursor: pointer;
}
.contact-me:hover{
  background-color: #101a1a;
  height: 70px;
  width: 210px;
}
.contact-me:active{
  background-color: rgb(38, 110, 110);
  color: #ffffff;
}

